.bio-wrap {
  background-color: #7e95c0;
  height: auto;
  border: 1px solid #7e95c0;
}
.bio-wrap .custom {
  background-color: #7e95c0;
  font-size: 36px;
  color: #ffffff;
  width: 95%;
  height: 600px;
  margin: 0 50px;
  line-height: 35px;
  word-spacing: 5px;
  padding: 50px 0;
}
.bio-wrap .custom .text {
  font-size: 20px;
}
.bio-wrap .custom .p-scrollpanel-wrapper {
  border-right: 9px solid #b6e2ff;
}
.bio-wrap .custom .p-scrollpanel-bar {
  background-color: #1976d2;
  opacity: 1;
  transition: background-color 0.3s;
}
.bio-wrap .custom .p-scrollpanel-bar:hover {
  background-color: #ff6800;
}
.bio-wrap .spinner {
  padding-top: 50px;
  height: 400px;
  background-color: #7e95c0;
}
.bio-wrap .err {
  padding-top: 50px;
  font-size: 28px;
  font-weight: 600;
  height: 200px;
  color: #ff0015;
  background-color: #7e95c0;
}
