.toptrack-wrap {
  border: 0.5px solid rgba(2, 36, 255, 0);
  background: #d3d3ec;
}
.toptrack-wrap .paginator {
  height: 40px;
  outline: none;
  border: none;
  background-color: #d3d3ec;
}
.toptrack-wrap .top-track {
  background-color: #d3d3ec;
  display: flex;
  flex-direction: column;
  justify-content: start;
  list-style-type: none;
  margin-top: -5px;
}
.toptrack-wrap .top-track .track-item {
  height: 50px;
  display: flex;
  align-items: center;
  border-bottom: 0.5px solid #acb0c9;
}
.toptrack-wrap .top-track .track-item .track-block {
  display: flex;
  flex-direction: row;
  width: 90%;
  flex-flow: wrap;
  justify-content: start;
  margin-left: 50px;
}
.toptrack-wrap .top-track .track-item .track-block .track-name {
  color: #000028;
  text-align: start;
  flex-grow: 20;
  font-size: 18px;
  font-weight: 900;
}
.toptrack-wrap .top-track .track-item .track-block .track-listen {
  color: #ca4000;
  font-style: italic;
  flex-grow: 1;
  margin-left: 200px;
}
.toptrack-wrap .top-track .track-item:hover {
  background-color: #cdcde6;
}
