.artist-container {
  height: auto;
}
.artist-container .artist-header {
  display: flex;
  flex-direction: row;
  height: 300px;
  background: linear-gradient(90deg, rgba(65, 69, 78, 0), #033252 100%);
  z-index: 0;
}
.artist-container .artist-header .artist-info {
  display: flex;
  flex-direction: column;
  width: 75%;
  z-index: 3;
  background: linear-gradient(90deg, rgba(65, 69, 78, 0), #033252);
}
.artist-container .artist-header .artist-info .artist-name {
  font-size: 46px;
  font-weight: 700;
}
.artist-container .artist-header .artist-info .artist-listen {
  color: red;
}
.artist-container .artist-header .artist-img {
  width: 300px;
}
.artist-container .artist-nav {
  border: 1px solid blue;
}
