.artist-container {
  border: 2px solid #0c0246;
  height: auto;
}
.artist-container .artist-header {
  display: flex;
  flex-direction: row;
  border: 1px dotted #46022f;
  height: 200px;
}
.artist-container .artist-header .artist-info {
  display: flex;
  flex-direction: column;
  border: 1px solid #a10023;
  width: 75%;
}
.artist-container .artist-header .artist-info .artist-name {
  font-size: 46px;
  font-weight: 700;
}
.artist-container .artist-header .artist-info .artist-listen {
  color: red;
}
.artist-container .artist-header .artist-img {
  width: 25%;
  border: 1px solid #0d4602;
}
.artist-container .artist-nav {
  border: 1px solid #1b03a3;
}
