.artist-container {
  height: auto;
}
.artist-container .artist-header {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  height: 300px;
  background: linear-gradient(90deg, rgba(65, 69, 78, 0), #033252 100%);
  z-index: 2;
}
.artist-container .artist-header .artist-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 80%;
  background: linear-gradient(90deg, rgba(65, 69, 78, 0), #033252);
}
.artist-container .artist-header .artist-info .wrap-info {
  margin: 10px;
  width: 100%;
  height: 250px;
}
.artist-container .artist-header .artist-info .wrap-info .artist-name {
  font-size: 55px;
  font-weight: 700;
  color: #ff6800;
}
.artist-container .artist-header .artist-info .wrap-info .artist-listen {
  color: #ffffff;
  font-size: 20px;
}
.artist-container .artist-header .artist-img {
  width: 300px;
}
.artist-container .artist-nav {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
  justify-content: center;
  width: 100%;
  height: 37px;
}
.artist-container .artist-nav .text-link {
  margin: 0 40px;
  text-decoration: none;
  color: white;
  border: 1px solid #fff;
  padding: 5px 30px;
  font-weight: 600;
  border-radius: 18px;
}
.artist-container .artist-nav .text-link:hover {
  color: #ff6800;
  background-color: #fff;
}
.artist-container .artist-nav .active {
  color: #fff;
  background-color: #ff6800;
  border: 1px solid #ff6800;
}
.artist-container .artist-nav .active:hover {
  color: #fff;
  background-color: #ff6800;
  border: 1px solid #ff6800;
  cursor: default;
}
