.wrapper {
  display: flex;
  flex-direction: column;
}
.wrapper .header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 200px;
}
.wrapper .header .header-logo {
  margin-left: 30px;
  font-style: italic;
  width: 200px;
}
.wrapper .header .header-nav {
  width: 50%;
  color: #ff861c;
}
.wrapper .header .header-nav .navlink {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.wrapper .header .header-nav .navlink .text-link {
  color: skyblue;
  text-decoration: none;
}
.wrapper .header .header-user {
  margin-right: 30px;
  width: 200px;
}
.wrapper .search input {
  width: 89%;
  height: 25px;
}
.wrapper .search button {
  width: 10%;
  height: 30px;
  min-width: 50px;
}
