.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 200px;

  .header-logo {
    margin-left: 30px;
    width: 200px;
    border: 1px solid rgb(114, 253, 137);
  }

  .header-nav {
    border: 1px solid rgb(253, 114, 114);
  }
  .header-user {
    margin-right: 30px;
    width: 200px;
    border: 1px solid rgb(114, 253, 137);
  }
}
