.wrapper {
  display: flex;
  flex-direction: column;
}
.wrapper .header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 200px;
}
.wrapper .header .header-logo {
  margin-left: 30px;
  font-style: italic;
  width: 200px;
}
.wrapper .header .header-nav {
  width: 50%;
  color: #ff861c;
}
.wrapper .header .header-nav .navlink {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.wrapper .header .header-nav .navlink .text-link {
  color: skyblue;
  text-decoration: none;
}
.wrapper .header .header-nav .navlink .active {
  color: #ff6800;
}
.wrapper .header .header-user {
  margin-right: 30px;
  width: 200px;
}
.wrapper .search {
  width: 100%;
  margin-right: 15px;
  display: flex;
  flex-direction: row;
  background-color: #282c34;
  border-top: #ff6e00 1px solid;
}
.wrapper .search input {
  border: none;
  outline: none;
  flex-grow: 10;
  margin-left: 30px;
  color: cornsilk;
  font-size: 18px;
  font-style: italic;
  height: 35px;
  background-color: #282c34;
}
.wrapper .search .pi-search {
  flex-grow: 1;
  color: #ff6e00;
  font-size: 22px;
  padding: 3px 30px 0 0;
}
.wrapper .search button {
  width: 10%;
  height: 30px;
  min-width: 50px;
}
