.search-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #c4c4f0;
  border: blue 1px solid;
}
.search-container .search-res-artist {
  color: #000028;
  margin: 25px 0 0 50px;
  text-align: start;
  font-size: 32px;
  font-weight: 500;
}
.search-container .search-artist {
  list-style-type: none;
  background-color: #d3d3ec;
}
.search-container .search-artist .artist-item {
  height: 55px;
  display: flex;
  align-items: center;
  width: 1000px;
  border-bottom: 0.5px solid #acb0c9;
}
.search-container .search-artist .artist-item .artist-name {
  color: #000028;
  text-align: start;
  min-width: 600px;
  font-size: 18px;
  font-weight: 900;
  margin-left: 50px;
  text-decoration: none;
}
.search-container .search-artist .artist-item .artist-name:hover {
  text-decoration-line: underline;
  color: #a55000;
}
.search-container .search-artist .artist-item .artist-listen {
  color: #ca4000;
  font-style: italic;
}
.search-container .search-artist .artist-item:hover {
  background-color: #cdcde6;
}
.search-container .search-res-text {
  color: #000028;
  margin: 25px 0 0 50px;
  text-align: start;
  font-size: 32px;
  font-weight: 500;
}
.search-container .search-albums {
  flex-flow: wrap;
  display: flex;
}
.search-container .search-albums .album-item {
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 250px;
  height: 250px;
  margin: 10px 10px;
  background-color: rgba(68, 68, 83, 0.822);
  box-shadow: 0 1px rgba(255, 255, 255, 0.2) inset, 0 3px 5px rgba(0, 1, 6, 0.5), 0 0 1px 1px rgba(0, 1, 6, 0.2);
  transition: 0.2s ease-in-out;
}
.search-container .search-albums .album-item .album-img {
  width: 174px;
  height: 174px;
  margin: 10px 0 0 38px;
}
.search-container .search-albums .album-item .album-name {
  font-weight: 600;
  font-size: 18px;
  color: #00dacf;
}
.search-container .search-albums .album-item span {
  color: #fff;
}
.search-container .search-albums .album-item span .artist-name {
  color: #da6900;
  text-decoration: none;
}
.search-container .search-albums .album-item span .artist-name:hover {
  text-decoration-line: underline;
  color: #fc8f00;
}
.search-container .search-res-text-track {
  color: #000028;
  margin-left: 50px;
  text-align: start;
  font-size: 32px;
  font-weight: 500;
}
.search-container .search-tracks {
  background-color: #d3d3ec;
  display: flex;
  flex-direction: column;
  justify-content: start;
  list-style-type: none;
}
.search-container .search-tracks .track-item {
  height: 55px;
  display: flex;
  align-items: center;
  width: 1000px;
  border-bottom: 0.5px solid #acb0c9;
}
.search-container .search-tracks .track-item .track-block {
  display: flex;
  flex-direction: row;
  justify-content: start;
  margin-left: 50px;
}
.search-container .search-tracks .track-item .track-block .track-name {
  color: #000028;
  text-align: start;
  min-width: 380px;
  font-size: 18px;
  font-weight: 900;
}
.search-container .search-tracks .track-item .track-block .track-artist {
  text-decoration: none;
  color: black;
  font-size: 16px;
  text-align: start;
  min-width: 250px;
}
.search-container .search-tracks .track-item .track-block .track-artist:hover {
  text-decoration-line: underline;
}
.search-container .search-tracks .track-item .track-block .track-listen {
  color: #ca4000;
  font-style: italic;
}
.search-container .search-tracks .track-item:hover {
  background-color: #cdcde6;
}
